# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - VS Code
.vscode/

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# OS Specific
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Logs
*.log

# Application Specific
transactions.json
google-credentials.json

# Packaging
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
